#################################################################
#								#
# Copyright (c) 2019 YottaDB LLC and/or its subsidiaries.	#
# All rights reserved.						#
#								#
#	This source code contains the intellectual property	#
#	of its copyright holder(s), and is made available	#
#	under a license.  If you do not know the terms of	#
#	the license, please stop and do not read further.	#
#								#
#################################################################

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[{*.c,*.h,*.h.in,*.m}]
indent_style = tab
indent_size = 8
trim_trailing_whitespace = true
max_line_length = 132

# Matches the exact files either package.json or .travis.yml
[{*.json,*.yml}]
indent_style = space
indent_size = 2

[{*.ctemplate}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
