#################################################################
#								#
# Copyright (c) 2019 YottaDB LLC and/or its subsidiaries.	#
# All rights reserved.						#
#								#
#	This source code contains the intellectual property	#
#	of its copyright holder(s), and is made available	#
#	under a license.  If you do not know the terms of	#
#	the license, please stop and do not read further.	#
#								#
#################################################################

doc/_build/
build*/
doc/make.bat
.tags
.tags1
*/*.sc*
cscope.*
gen_cscope.sh
\#*\#
**/*~
TAGS
*.swp
*.orig
tags
.dir-locals.el

roctolist.md
src/gtmcrypt/
tools/go/pkg
tools/go/src/lang.yottadb.com/
tools/go/src/golang.org
tools/go/src/github.com
tools/go/src/gitlab.com/euterpe/ydbocto-admin/bin/
tools/go/src/gitlab.com/euterpe/ydbocto-admin/bin/ydbocto-admin
